<section class="block md:hidden w-full overflow-hidden border border-[#2A5072]/20 bg-[#E4F0FB] py-1 px-1">
  <div class="relative overflow-hidden">
    <div class="marquee-track flex whitespace-nowrap py:3 mt-3 mb-3">
      <p class="marquee-item inline-block text-[#162A3D]!  text-[16px]! not-italic font-normal leading-normal capitalize  py:3 px-2.5"ria-hidden="true">
        Unlock Discounted Price In Cart When You Add 2 Or More Items →
      </p>
      <p class="marquee-item inline-block text-[#162A3D]  text-[16px]! not-italic font-normal leading-normal capitalize  py:3 " aria-hidden="true">
        Unlock Discounted Price In Cart When You Add 2 Or More Items →
      </p>
    </div>
  </div>
</section>

<style>
@keyframes marquee-loop {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.marquee-track {
  animation: marquee-loop 15s linear infinite;
}
.marquee-item { white-space: nowrap; }
</style>


{% schema %}
{
  "name": "Marquee notice",
 
  "presets": [
    { "name": "Marquee notice", "category": "Banners" }
  ]
}
{% endschema %}